<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Users:
          Details.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Template for details action</h1>
    <img src="/fileadmin/{image}"  width="50" alt=""/><br />
    {user.0.first_name} {user.0.name}
    {user.0.address}
    {user.0.zip} {user.0.city}
</f:section>
</html>
