<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:myutils="http://typo3.org/ns/WSR/Myleaflet/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Users:
          Map.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Template for map action</h1>

    <div data-name="other-5">
  
  

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
   crossorigin="">
</script>

<link rel="stylesheet" href="typo3conf/ext/myleaflet/Resources/Public/CSS/MarkerCluster.css" />
<link rel="stylesheet" href="typo3conf/ext/myleaflet/Resources/Public/CSS/MarkerCluster.Default.css" />
<script src="typo3conf/ext/myleaflet/Resources/Public/JavaScript/markercluster.js"></script>
<script src="typo3conf/ext/myleaflet/Resources/Public/JavaScript/leaflet-providers.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>

	<div class="ajaxSearch">
	
	<f:comment>
	<f:debug>{_all}</f:debug>
	</f:comment>
	
	<div id="Lvar" class="hidden">{L}</div>
	

	<h1>Feusersmap</h1>



	
	<div id="flashMessages">
		<f:flashMessages />
	</div>
	

	<div id="mapContainer" style="width: 100%;">
		<div id="map">MAP</div>
	</div>	

    <form method="post" action='<f:uri.action action="map" pluginName="map" />' name="searchform">
        <f:render section="categoryList" arguments="{_all}" />
        <f:section name="categoryList">
            <ul>
                <f:for each="{categories}" as="category">
                    <li>
                        <f:variable name="check" value="0" />

                        <f:for each="{selectedCategories}" as="selected" iteration="categoryIter">
                            <f:if condition="{selected} == {category.uid}">
                                <f:then>
                                    <f:variable name="check" value="1" />
                                </f:then>
                            </f:if>
                        </f:for>    
                        <f:if condition="{check}">
                            <f:then>
                                <input type="checkbox" id="{category.name}" name="tx_feusersmap_map[categories][]"  value="{category.uid}" checked/>
                                <label for="{category.name}">{category.name}</label>
                                <f:if condition="{settings.useGroupLeafletmapicons} == 1">
                                    <img src="/fileadmin/ext/feusersmap/Resources/Public/Icons/{category.leafletmapicon}">
                                </f:if>
                            </f:then>
                            <f:else>
                                <input type="checkbox" id="{category.name}" name="tx_feusersmap_map[categories][]"  value="{category.uid}"/>
                                <label for="{category.name}">{category.name}</label>
                                <f:if condition="{settings.useGroupLeafletmapicons} == 1">
                                    <img src="/fileadmin/ext/feusersmap/Resources/Public/Icons/{category.leafletmapicon}">
                                </f:if>
                           </f:else>
                        </f:if>
                        <f:if condition="{category.children}">
                            <f:render section="categoryList" arguments="{categories: category.children, selectedCategories: selectedCategories}" />
                        </f:if>
                    </li>
                </f:for>
            </ul>
        </f:section>


	<input id="tx_feusersmap_city" name="tx_feusersmap_map[address]" type="text" value="{address}" size="30" />
    <select id="tx_feusersmap_country" name="tx_feusersmap_map[country]">
		<option value="DE" selected="selected">Deutschland</option>
		<option value="DE">DE</option>
		<option value="AT">AT</option>
		<option value="US">US</option>	
		<option value="CH">CH</option>
		<option value="FR">FR</option>
		<option value="NL">NL</option>
		<option value="GB">UK</option>
		<option value="AU">AU</option>
		<option value="CA">CA</option>
		<option value="IT">IT</option>
	</select>

	<!--
	<input id="tx_myleaflet_radiusx" type="text" value="50" class="hidden1"/>
	-->

    <f:variable name="radi" value="{1:'10',2:'20',3:'40',4:'100',5:'300',6:'500'}" />

	<select id="tx_feusersmap_radius" name="tx_feusersmap_map[radius]">

    <f:for each="{radi}" as="radius" iteration="radiIter">
        <f:if condition="{radius} == {selectedRadius}">
            <f:then>
        		<option value="{radius}" selected="selected">{radius} km</option>
            </f:then>            
            <f:else>
        		<option value="{radius}">{radius} km</option>
            </f:else>
        </f:if>
    </f:for>
	</select>

    <button type="submit">Suchen</button>
    
    </form>


	<div class="clearer"></div>


<script>

	function scrollto(element){
		 $('html, body').animate({ scrollTop: ($(element).offset().top)}, 'slow');
	};


	var map = '';
	var marker = [];
	var group = '';
	var markerArray = [];

    var oms;
    
	$(document).ready(function () {


// openstreetmap providers
// http://leaflet-extras.github.io/leaflet-providers/preview/

		var osmMap = L.tileLayer.provider('OpenStreetMap.DE');
		var mapnik = L.tileLayer.provider('OpenStreetMap.Mapnik');
//		var esri = L.tileLayer.provider('Esri.WorldImagery');
		var mtbMap = L.tileLayer.provider('MtbMap');
		var osmHot = L.tileLayer.provider('OpenStreetMap.HOT');
		var osmFrance = L.tileLayer.provider('OpenStreetMap.France');

		
		map = L.map('map', {
			center: [<f:format.raw>{settings.initialMapCoordinates}</f:format.raw>],
			zoom: 14,
			layers: [osmMap] // only 1 layer here
        });

        var options = {  //**spiderfier
//           keepSpiderfied: true,
//           nearbyDistance: 20,
            circleFootSeparation: 50
        };
        oms = new OverlappingMarkerSpiderfier(map, options);		
		
		var baseMaps = {
//			"OSM Hot": osmHot,
			"OSM DE": osmMap,
			"OSM FR": osmFrance,
			"OSM Mapnik": mapnik,
//			"Imagery": esri,
			"MTB": mtbMap,
		};
		L.control.layers(baseMaps).addTo(map);

		L.control.scale({
			'imperial': false
		}).addTo(map);

	});


</script>




<script>
	$(document).ready(function(){
		$('#flashMessages').fadeIn(2000);

        <f:format.raw>{markerJS}</f:format.raw>
	});

<!-- responsive map -->

	function resizeMap() {
	    var mapContainerWidth = $('#mapContainer').width();
	    var mapContainerHeight = $('#mapContainer').height();
	    $('#map').width(mapContainerWidth - 10);
	    $('#map').height(mapContainerWidth/4*3);

		if (map) map.invalidateSize();      
		if (group.getBounds) {
			map.fitBounds(group.getBounds());
		} else {
			if (map) map.setZoom(4);          
        }
	}

	$(window).resize(resizeMap);
	resizeMap();
</script>

</div>

    <f:comment><div class="ajaxSearch"></div></f:comment>

  </div> <!-- data-name="other-4" -->






</f:section>
</html>
